{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@mui/(.*)$", "^@churchapps/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "singleAttributePerLine": false
}