.pwd-container {
  position: relative;
}

.pwd-container input {
  padding-right: 50px;
}

.pwd-container i {
  position: absolute;
  cursor: pointer;
  top: 12.5px;
  right: 15px;
}

.icon-lightgrey {
  color: lightgray;
}

.icon-grey {
  color: grey;
}