/*
#28235d - dark blue
#35a8e0 - light blue
#d6f2ff - faint blue
*/

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-display: swap;
}

.table {
  color: #333;
  width: 100%;
}

.table thead tr th {
  text-align: left;
}

.d-block {
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #24b8ff;
  text-decoration: none;
}

h2 span {
  color: #24b8ff;
}

body {
  margin: 0px;
}

h1 {
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.capitalize {
  text-transform: capitalize;
}

.btn-warning,
.btn-warning:hover {
  color: #fff;
}

.logo {
  display: flex;
  width: 200px;
  margin-right: 15px;
}

.classroomTable tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}


#navbar {
  background-color: transparent;
  padding: 11px 0;
  margin-bottom: 20px;
  box-shadow: none;;
}

#navbar .nav-item {
  font-size: 14px;
}

#navbar .nav-link {
  color: #555;
  height: 55px;
  vertical-align: middle;
  line-height: 45px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#navbar svg {
  height: 15px;
  width: 15px;
}

#navbar .active {
  border-bottom: 2px solid #03a9f4;
}

.navbar-brand {
  margin-top: 5px;
  display: block;
}

.navbar-brand img {
  max-height: 35px;
  max-width: 100%;
  margin-bottom: 5px;
}

#navRight {
  white-space: nowrap;
}

#navRight img {
  width: 32px;
  height: 24px;
  margin-top: -3px;
  margin-right: 8px;
}

#userMenu {
  position: absolute;
  top: 55px;
  z-index: 9999;
  left: 0px;
  right: 0px;
}

#userMenu div {
  width: 223px;
  max-width: 100%;
  position: relative;
  background-color: #fff;
  color: #333;
  float: right;
  box-shadow: 3px 3px 3px #999;
}

#userMenu a,
#userMenu .label {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  color: #333;
  padding-right: 10px;
}

#userMenu .label {
  font-weight: 600;
  color: #333;
}

#userMenu a:hover {
  text-decoration: none;
  background-color: #03a9f4;
  color: #fff;
}

#userMenu .nav-item,
#userMenu .divider {
  border-top: 1px solid #f0f0f0;
}

#navSpacer {
  height: 57px;
  margin-bottom: 25px;
}

.blue {
  color: #03a9f4;
}

.inputBox {
  border: 1px solid #e7e7e7;
  margin-bottom: 30px;
}

.inputBox .header {
  border-top: 4px solid #03a9f4;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.inputBox .header i {
  margin-right: 5px;
}

.inputBox .header .col-4 i {
  color: #77cc00;
}

.inputBox .header .btn {
  margin-top: -2px;
}

.inputBox .subhead {
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.inputBox .content {
  padding: 10px;
  background-color: #ffffff;
}

.inputBox .content p {
  color: #666;
}

.inputBox .footer .btn {
  border-radius: 0px;
}

.inputBox .footer .col {
  padding-left: 0px;
  padding-right: 0px;
}

.inputBox .footer .col:first-child {
  padding-left: 12px;
}

.inputBox .footer .col:first-child .btn {
  border-bottom-left-radius: 5px;
}

.inputBox .footer .col:last-child {
  padding-right: 12px;
}

.inputBox .footer .col:last-child .btn {
  border-bottom-right-radius: 5px;
}

.inputBox .content label {
  color: #999;
}

.inputBox .section {
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.inputBox .content {
  overflow-x: hidden;
}

.inputBox .content ul {
  padding-left: 0px;
}

.inputBox .content li {
  list-style-type: none;
  margin-bottom: 10px;
}

.inputBox .content li i {
  margin-right: 5px;
}

.inputBox .content td i {
  margin-right: 5px;
}

.inputBox .footer button {
  width: 100%;
}

/*
.btn-primary { background-color:#77cc00; border-color:#70db86; }
.btn-primary:hover { background-color:#55aa00; border-color:#55aa00; }
*/
.btn-info {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-primary,
.btn-primary:disabled {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-primary:hover {
  background-color: #0099e4;
  border-color: #0099e4;
}

.btn-success {
  background-color: #77cc00;
  border-color: #70db86;
}

.btn-success:hover {
  background-color: #55aa00;
  border-color: #55aa00;
}

.btn-danger {
  background-color: #cc0011;
  border-color: #cc0011;
}

.btn-danger:hover {
  background-color: #bb0000;
  border-color: #bb0000;
}

.nav-tabs {
  border-bottom: none;
}

.addableForm {
  padding-left: 12px;
}

.addableForm span {
  color: #999;
}

@media (min-width: 1200px) {
  .col-lg-2-5 {
    flex: 0 0 20.8%;
    max-width: 20.8%;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 425px) {
  .navbar-brand {
    padding-top: 12px;
  }
}

#footer {
  background-color: #28235d;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #bab8d0;
}

#footer .copyright {
  border-top: 1px solid #3e3a6d;
  padding-top:10px;
  text-align: center;
}

#footer img {
  max-width: 450px;
}

.form-control::placeholder {
  color: #ccc;
}

label .description {
  font-size: 12px;
  padding-left: 10px;
}

#searchResults {
  margin-top: 10px;
}

#searchResults td:last-child {
  text-align: center;
}

#searchResults img {
  width: 60px;
  height: 45px;
  border-radius: 5px;
}

.form-check-input {
  position: unset;
  margin-right: 0.5rem;
}

.alert p {
  margin-bottom: 0;
}

.no-default-style {
  border: none;
  background: none;
}

.homeSection {
  padding-top: 50px;
  padding-bottom: 70px;
}

.homeSection .title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #03a9f4;
  font-weight: bold;
}

.homeSection .title span {
  color: #03a9f4;
}

.homeSection.alt {
  color: #fff;
}

.homeSection.alt .title {
  color: #fff;
}

.homeSection h2 {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  margin-top:0px;
  line-height:36px;
  color:#28235d;
}

.homeSection ul {
  padding-left: 0px;
}

.homeSection li {
  list-style: none;
  background: url("/images/home/checkbox.png") 0px 3px no-repeat;
  padding: 0px 0px 15px 37px;
}

.pageSection {
  padding-top: 40px;
  padding-bottom: 70px;
}

.pageSection .title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #03a9f4;
  font-weight: bold;
}

.pageSection .title span {
  color: #333;
}

.pageSection.alt {
  color: #fff;
}

.pageSection.alt .title {
  color: #fff;
}

.pageSection h2 {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: bold;
}

.pageSection ul {
  padding-left: 20px;
  margin-bottom: 0px;
}

#hero {
  padding-top: 10px;
  padding-bottom: 50px;
  background-image: url("/images/home-hero.png");
  background-size: cover;
  min-height: 100vh;
  color:#FFF;
}


#hero .title {
  margin-top:13vh;
  font-size: 16px;
  text-transform: uppercase;
  color: #03a9f4;
  font-weight: bold;
  text-shadow: #000 3px 3px 10px;
}

#hero h1 {
  font-weight: bold;
  text-decoration: none;
  font-size: 50px;
  line-height: 60px;;
  text-transform: uppercase;
  margin-top:10px;
  margin-bottom: 10px;;
  text-shadow: #000 3px 3px 10px;
}

#hero p {
  text-shadow: #000 3px 3px 10px;
}

#hero h1 span {
  color: #03a9f4;
  font-style: italic;
  font-weight: normal;
}

#hero .cta.alt {
  margin-right:10px;
}


.statBox {
  align-content: left;
  text-align: left;
}

.statBox div {
  font-size: 30px;
  margin-left: 10px;
  color: #35a8e0;
  padding-left:10px;
}

.statBox span {
  font-size: 18px;
  display: block;
  margin-top: -7px;
  margin-left: 10px;
  padding-left:10px;
}

#aboutSection h2 {
  margin-bottom: 10px;
}

#aboutSection p {
  font-size: 14px;
}

#connectSection {
  background-image: url('/images/connect-bg.png');
  background-position: center center;
  background-size: cover;
}

#connectSection img {
  margin-top: 20px;
}

#connectSection li {
  color: #DDD;
}

.lead {
  font-size: 20px;
  font-weight: 300;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.role {font-weight: bold;}*/
/*.role {font-weight: bold; text-align: center;}*/

/*.part {border-bottom: 1px solid #ccc;padding-bottom: 20px;padding-top:20px}
.part:last-child { border-bottom: 0px;}
*/

dropdown-menu a {
  color: #03a9f4;
}

.imgCol {
  width: 100px;
}

.imgCol img {
  width: 100px;
}

.programAccordion .MuiAccordionDetails-root {
  padding-left: 16px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.programAccordion .MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px;
}

.programAccordion .MuiAccordionSummary-content.Mui-expanded {
  margin-bottom: 0px;
  margin-top: 0px
}

/*
#adminTree .programRow td:last-child {
  text-align: right;
}
#adminTree .programRow td:last-child a {
  color: #77cc00;
}

#adminTree .studyRow td:first-child {
  padding-left: 20px;
}
#adminTree .studyRow td:last-child {
  text-align: right;
}
#adminTree .studyRow td:last-child a {
  color: #77cc00;
}

#adminTree .lessonRow td:first-child {
  padding-left: 40px;
}
#adminTree .lessonRow td:last-child {
  text-align: right;
}
#adminTree .lessonRow td:last-child a {
  color: #77cc00;
}
*/

#adminTree .sectionRow td:last-child {
  text-align: right;
}

#adminTree .sectionRow td:last-child a {
  color: #77cc00;
}

#adminTree .roleRow td:first-child {
  padding-left: 20px;
}

#adminTree .roleRow td:last-child {
  text-align: right;
}

#adminTree .roleRow td:last-child a {
  color: #77cc00;
}

#adminTree .roleRow td {
  border-top: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#adminTree .actionRow td:first-child {
  padding-left: 40px;
  padding-right: 25px;
}

#adminTree .actionRow td:first-child a,
#adminTree .actionRow td:first-child span {
  overflow: hidden;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}

#adminTree .actionRow td {
  border-top: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hoverHighlight:hover {
  background-color: #FFFFCC;
}

.hoverHighlight td:last-child {
  opacity: 0;
  white-space: nowrap;
  text-align: right;
}

.hoverHighlight:hover td:last-child {
  opacity: 1;
}

.removed {
  color: #990000;
  text-decoration: line-through;
}

.removed td {
  position: relative;
}

.removed td:not(:last-child):before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid #990000;
}

/*
#resourceTree .bundleRow td:last-child {
  text-align: right;
}
#resourceTree .bundleRow td:last-child a {
  color: #77cc00;
}
#resourceTree .bundleRow td:last-child a i {
  margin-right: 1px;
}

#resourceTree .resourceRow td:last-child {
  text-align: right;
}
#resourceTree .resourceRow td:last-child a {
  color: #77cc00;
}
#resourceTree .resourceRow td:last-child .dropdown-menu a {
  color: #333;
}
#resourceTree .resourceRow td:first-child {
  padding-left: 15px;
}
#resourceTree .variantRow td:first-child {
  padding-left: 30px;
}
#resourceTree .assetRow td:first-child {
  padding-left: 30px;
}*/

.venueRow td:last-child {
  text-align: right;
}

.venueRow td:last-child a {
  color: #77cc00;
}

.scrollingList {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}



.accordion .card {
  background-color: #f3f3f6;
  border-right: none;
  border-left: none;
  margin-bottom: 10px;
}

.accordion .card-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.accordion .MuiAccordionSummary-root.Mui-expanded {
  background-color: #03a9f4;
  color: #FFF;
}

.accordion .card-header.active {
  background-color: #03a9f4;
}

.accordion .card-header.active .btn {
  color: #fff;
}

.accordion .card-body {
  background-color: #f1f1f1;
}

.accordion .collapse,
.accordion .collapsing {
  border: 1px solid #03a9f4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion .part {
  clear: both;
}

.accordion.part .part {
  padding: 10px;
}

.accordion .role {
  text-align: center;
  font-weight: bold;
  color: #00c213;
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.accordion .actions {
  color: #333;
  font-weight: bold !important;
  margin-bottom: 5px;
}

.accordion .actions>li {
  list-style-type: none;
}

.accordion .actions li {
  padding-left: 10px;
}

.accordion .play {
  clear: both;
  color: #333;
  margin-bottom: 5px;
}

.accordion .play li {
  list-style-type: none;
  margin-bottom: 10px;
}

.accordion .play li:before {
  content: "\e037";
  color: #00c213;
  font-family: "Material Icons";
  margin-left: -15px;
  margin-right: 10px;
  font-weight: bold;
}

.accordion .note {
  color: #777;
  font-style: italic;
  margin-bottom: 5px;
  padding-left: 30px;
}

.accordion .note b {
  color: #000;
}

.accordion blockquote {
  padding-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #555;
}

.accordion blockquote p:last-child {
  margin-bottom: 0px;
}

.accordion blockquote ol {
  text-align: left;
}

.accordion blockquote li {
  padding-bottom: 5px;
}

.accordion blockquote li ol,
.accordion blockquote li ul {
  padding-top: 5px
}

.materials {
  background-color: #444;
  color: #eee;
  margin-top: -8px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.materials a {
  color: #fff;
}

.btn-light {
  border: 1px solid #333;
}

/*blockquote {padding-left:20px;border-left:2px solid #24b8ff;margin-bottom: 10px;}*/

@media screen {
  .printOnly {
    display: none;
  }
}

@media print {
  .playPreview {
    display: none;
  }

  @page {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  body {
    background-color: #fff;
  }

  .collapse:not(.show) {
    display: block;
  }

  blockquote {
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-left: 20px;
  }

  .card {
    border: none;
  }

  .accordion {
    width: 100%;
  }

  .actions p {
    margin-bottom: 0.3rem;
  }

  .accordion .card {
    background-color: #fff;
  }

  .accordion .card-body {
    background-color: #fff;
  }

  .accordion .card-header,
  .accordion .card-header.active {
    background-color: #eee;
  }

  .accordion .card-header.active .btn {
    color: #03a9f4;
  }

  .accordion .collapse {
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.smallCenterBlock {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.login-logo {
  margin-top: 100px;
  margin-bottom: 60px;
}

#loginBox {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

#loginBox .form-group {
  margin-bottom: 1rem;
}

.signin-button {
  width: 100%;
}

.text-right {
  text-align: right;
}

.pwd-container {
  position: relative;
}

.pwd-container input {
  padding-right: 50px;
}

.pwd-container svg {
  position: absolute;
  cursor: pointer;
  top: 12.5px;
  right: 15px;
}

.icon-lightgrey {
  color: lightgray;
}

.icon-grey {
  color: grey;
}

.form-control.is-invalid {
  background-image: none;
}

.toggle-button {
  color: #24b8ff;
}

.toggle-button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.dropdown-menu {
  width: 223px;
  background-color: #fff;
  color: #333;
  float: right;
  box-shadow: 3px 3px 3px #999;
  padding: 0;
}

/*
.dropdown-menu button {
  padding: 0.5rem 1rem;
}*/


.dropdown-menu .btn {
  min-width: 90px;
}

.dropdown-item:hover {
  text-decoration: none;
  background-color: #03a9f4;
  color: #fff;
}

.dropdown-item:active {
  text-decoration: none;
  background-color: #03a9f4;
  color: #fff;
}

.no-caret {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.no-caret i {
  margin-right: 0px !important;
}

.no-caret:after {
  display: none;
}

.green {
  color: #77cc00;
}

.downloadAccordion .card {
  margin-bottom: 0px;
  border-top: none;
  border-bottom: none;
}

.downloadAccordion .card>button {
  border: none;
  text-align: left;
  background-color: #03a9f4;
  color: #FFF;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #FFF;
}

.downloadAccordion .collapse,
.downloadAccordion .collapsing {
  margin-bottom: 0px;
  margin-top: 0px;
  border-top: none;
  border-bottom: none;
}

.downloadAccordion .card-body {
  background-color: #FFF;
}

.downloadsDropDown .dropdown-menu.show .dropdown-menu.show {
  width: inherit !important;
}

.downloadResource {
  padding: 5px 10px;
}

a.dropdown-toggle::after {
  display: none;
}

#resourcesBox .content {
  padding-bottom: 50px;
  overflow: visible;
}

.bigLink {
  background-color: #1c75bc;
  color: #FFF;
  border-bottom: 1px solid #FFFFFF;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.bigLink:hover {
  color: #FFF;
}

.bigLink span {
  display: block;
  font-size: 16px;
}

.playPreview {
  margin-left: 10px;
  clear: both;
  float: right;
}

.playPreview img {
  aspect-ratio: 16/9;
  margin-bottom: 20px;
}

.b1 .play {
  padding-inline-start: 10px;
}

.b1 .accordion blockquote,
.b1 .accordion .note,
.b1 .accordion .actions {
  margin-inline-start: 0px;
  padding-left: 0px;
}


.b1 .accordion ol,
.b1 .accordion ul {
  padding-inline-start: 20px;
}

.b1 .accordion .card-header.active {
  background-color: #1c75bc;
}

.b1 .accordion .collapsing {
  border: 1px solid #1c75bc;
}

.b1 .part {padding-left: 10px;padding-right:10px;}

.adminAccordion .card {
  border: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #EEE;
}

.adminAccordion .card-header {
  background-color: #FFF;
  padding: 0px;
  border-bottom: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.adminAccordion .fa-chevron-down {
  padding-right: 10px;
  color: #CCC;
}

.adminAccordion .collapse.show,
.adminAccordion .collapsing {
  margin: 0px;
  border: none;
}

.adminAccordion .card-body {
  padding: 0px;
  background-color: #FFF;
}

.studyAccordion .fa-chevron-down {
  padding-right: 25px;
}

.resourceAccordion .MuiAccordionSummary-root {
  padding-left: 0px;
  padding-right: 0px;
}


.lessonDiv,
.assetDiv,
.variantDiv {
  border-top: 1px solid #EEE;
  padding-top: 2px;
  padding-bottom: 2px;
  ;
}

.lessonDiv {
  padding-right: 60px;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
}


.reportTable> :not(:first-child) {
  border-top: 1px solid #ccc;
}

.reportTable td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.reportTable tr:nth-child(odd) td {
  background-color: #EEE;
}

.modalMarkdown textarea {
  height: 75vh !important;
  overflow-y: scroll !important;
}

#markdownPreview table {
  border-spacing: 0px;
}

#markdownPreview table td,
#markdownPreview table th {
  border: 1px solid #DDD;
  margin: 0px;
  padding: 2px
}

.part table {
  border-spacing: 0px;
  width: 100%
}

.part table td,
.part table th {
  border: 1px solid #DDD;
  margin: 0px;
  padding: 2px
}

#smallPeopleTable img {
  width: 48px;
  height: 36px;
  border-radius: 3px;
}

#smallPeopleTable td {
  vertical-align: middle;
}

#smallPeopleTable td:nth-child(2) {
  width: 80%;
}

@media (max-width: 600px) {
  .downloadAccordion {
    min-width: 90vw !important;
  }

  .playPreview {
    clear: both;
    float: none;
  }
}

@media (min-width: 601px) {
  .playPreview img {
    max-height: 72px;
  }
  .downloadsDropDown .dropdown-menu.show {
    width: 400px !important;
  }
}

.accordion .editor-listitem { padding-bottom: 0px; }
.accordion .editor-list-ul { margin-top: 0px; padding-top:0px; }

.fadeOut {
  --mask: linear-gradient(to bottom, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 70%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}

.arkHero {
  background-image: url("/images/landing/ark-hero.png");
  background-size: cover;
  margin-top: -24px;
  color:#FFFFFF;
}

.arkHero H1 {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 70px;
}

.arkHero H2 {
  margin-top: 0px;
  font-size: 35px;
  margin-bottom: 150px;
}

.arkHero H3 {
  font-size: 1.5em;
  line-height: 1.0em;
}

.arkUsp {
  background-color:"#DDDDDD";
  padding:30px;
  margin-top:50px;
  min-height:265px;
}

@media (min-width: 601px) {
  .arkUspRight {
    margin-left:-80px;
  }

  .arkUspLeftImg {
    margin-left:-80px;
    z-index:-1px;
  }

}

.limitedText {
  height: 200px;
  overflow: hidden;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}


.img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}


.img-container::after {
  content: "";
  display: block;
  padding-bottom: 337px;
}


.img-container > * {
  position: absolute;
  top: var(--offset, 0);
  left: var(--offset, 0);
  width: calc(100% - 2 * var(--offset, 0px));
  height: calc(100% - 2 * var(--offset, 0px));
  object-fit: contain;
}

.img-blur {
  --blur: 20px;
  --offset: calc(-1 * var(--blur));
  object-fit: cover;
  filter: blur(var(--blur));
  opacity: 0.9;
}

































#presenter {
  /*
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  */
  color:#FFF;
  background-color: #000;
}

.programHero {
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  background-color:#28235e;
  color:#FFF;
}

.programHero .age {
  margin-top:100px;
  color: #34a8de;
  font-weight: bold;
}

.programHero H2 {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.programHero p {
  margin-top:0px;
}

.cta{
  display: inline-block;
  border-width: 2px;
  background-color: #34a8de;
  color: #FFF;
  border-radius: 20px;
  padding:6px 20px;
}

.cta.alt {
  background-color: transparent;
  border:2px solid #34a8de;
}

.programHero table {
  width:100%;
  margin-top:100px;
  padding-bottom: 60px;
}

.programHero table td {
  width:20%;
  padding:10px;
}

.apps {
  background-color: #28235d;
  color: #FFF;
  padding: 50px 40px 20px 40px;
  border-radius: 10px;
}

.img-fluid { width:100% }

#testimonials {
  padding-bottom: 20px;

}

.testimonial { 
  background-color: #f9f9f9;
  color: #000;
  padding: 50px 40px 20px 40px;
  border-radius: 10px;
  min-height: 230px;
}

.testimonial .stars { 
  background-image:url("/images/stars.png");
  width: 124px;
  height: 19px;
  float:right;
}

.testimonial .icon { 
  background-image:url("/images/quote.png");
  width: 73px;
  height: 52px;
  float:left;
  margin-right: 20px;
}

.testimonial .name {
  color: #28235d;
  font-weight: bold;
  font-size:20px;
}

.testimonial .church {
  color: #7a7a7a;
  font-size:14px;
}

.testimonial p {
  clear:both;
}

.ageBox:hover {
  opacity:0.8;
}

.programStudies a:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .programHero {
    background-position-x: 80%;
  }

  .programHero H2 {
    font-size: 30px;
  }

  .programHero p, .programHero .age, .programHero H2 {
    text-shadow: #000 3px 3px 6px;
  }

  .programHero table td {
    width:33%;
  }

  .programHero table td:nth-child(4), .programHero table td:nth-child(3) {
    display: none;
  }

  .programHero table {
    padding-bottom: 20px;
  }
  
}